{% extends 'base.html' %}
{% block title %}
  List of projects
{% endblock %}
{% block content %}
  <h3>{{ action }}</h3>
  {% if all_projects|length > 0 %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Datails</th>
      </tr>
    </thead>
    <tbody>
    {% for project in all_projects %}
      <tr>
        <td>{{ project.id }}</td>
        <td>{{ project.title }}</td>
        <td><a href="{% url 'wyswietlacz.views.project_detail' project.id %}">Show</a></td>
      </tr>
    {% endfor %}
      </tbody>
  </table>
  {% else %}
  <span>No project.</span>
  {% endif %}
  <h4>Go to <a href="{% url 'wyswietlacz.views.choice' %}">choice.</a></h4>
  <h4>Go to <a href="{% url 'wyswietlacz.views.developers' %}">developers.</a></h4>
  <h4>Go to <a href="{% url 'wyswietlacz.views.tasks' %}">tasks.</a></h4>
{% endblock %}